<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">BETA 0.0.1</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">FAV</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">___</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">___</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">____</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
<form id="contact-form" action="/save", method="GET">
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1>FIND PEOPLE LIKE YOU</h1><p>
        </p><input class="col-4 btn btn-light input-lg" type = "text" name = "name" placeholder="YOUR NAME"><p>
        </p><input class="col-4 btn btn-light input-lg"type = "text" name = "contact" placeholder="YOUR CONTACT"><p>
        </p><input class="col-4 btn btn-secondary input-lg"type = "text" name = "imgurl" placeholder="URL YOUR PICTURE"><p>
        </p><p><a class="btn btn-primary js-scroll-trigger" href="#fav"/>NEXT</a></p>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="fav">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Question "FAV"</h3>
          <h2 class="mb-5">what your favorite</h2>
        </div>
    <div class="container">
      <div class="row justify-content-md-center">
            <div class="col-md-auto">
                  <div class="col-sm-12">
                     <div class="radio">

                         <h3 class="text-secondary mb-3">Animal</h3>

                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_1" value="1">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          Alpaca
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_1" value="2">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          Sloth
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_1" value="3">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          Husky
                          </label>
                          <p></p>
                          <h3 class="text-secondary mb-3">WHO?</h3>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_2" value="1">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          SEK LOGO
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_2" value="2">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          THE TOY
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_2" value="3">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          LIL PUMP
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_2" value="4">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          RAP AKE
                          </label>

                          <p></p>
                          <h3 class="text-secondary mb-3">The next prime minister?</h3>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_3" value="1">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          PRAYUTT
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_3" value="2">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          PRAYUTT
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_3" value="3">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          PRAYUTT
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_3" value="4">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          PRAYUTT
                          </label>


                          <p></p>
                          <h3 class="text-secondary mb-3">Most Comdy Animated TV Shows on NETFLIX?</h3>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_4" value="1">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          FAMILY GUY
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_4" value="2">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          RICK AND MORTY
                          </label>
                          <label style="font-size: 1.5em">
                          <input type="radio" name="fav_4" value="3">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          FAMILY GUY
                          </label>

                     </div>

                  </div>
          </div>

      </div>
      <p><input type = "submit" value = "submit" class="btn btn-dark"/></p>
    </div>
  </form>




      </div>
    </section>



    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/stylish-portfolio.min.js"></script>
  </body>

</html>
